
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

$border: 10px;
$bgbody: rgb(228, 222, 222);
$shadow: rgba(0,0,0,.4);
$button-color: rgb(32, 32, 32);
$btn-hover: rgba(94, 31, 87, 0.897);
$list-bg: #d0d0d0b3;

body{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    height:100%;
    font-family: 'Dosis', sans-serif;
    background-color: $bgbody;
    padding: 2rem;
    font-size: 100%;
}


h1{
    margin: .5em;
    letter-spacing: 10px;
    font-size: calc(2rem + .5vw);
}

.perfume{
    display: flex;
    width:100%;
    height: 100%;
    border-radius: $border;
    overflow: hidden;
    gap: 1em;


    @media(max-width: 900px){
        flex-direction: column;
    }

    .card{
        position:relative;
        margin:1em;
        text-align: center;
        flex: 1;
        display: flex;
        min-height: 350px;
        padding: 1em;
        overflow: hidden;
        cursor: pointer;
        min-height: 400px;

        
        img{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            object-fit: cover;
            box-shadow: 8px 8px 10px $shadow;
            border-radius: 5px;
            transition:.5s ease-in-out;
            width: 100%;
            height: 100%;
        }

        .textbox{
            display: flex;
            flex-direction: column;
            width: auto;
            height: auto;
            justify-content: end;
            align-items:flex-start;
            font-size: 150%;
            box-shadow: 2px 1px 10px rgba(0,0,0,.4);
            z-index: 1;
            flex: 1;
            position: relative;
            border-radius: $border;

            h2, button{
                padding: 10px 20px;
        
            }

            h2{
                position:relative;
                font-size: 1.7em;
                letter-spacing: 1px;
                padding-bottom: 10px;
            }

            button{
                position: relative;
                font-family:'Dosis', sans-serif;
                font-weight: bold;
                background-color: $button-color;
                color: #fff;
                border-style: none;
                border-radius:5px;
                letter-spacing: 1px;
                cursor: pointer;
                transition-delay: .1s;
                font-size: 1em;
                transition:.3s ease-in-out;
                margin: 10px 20px;

                &:hover{
                    background-color: $btn-hover;
                }
            }

            .desc{
                position: absolute;
                top: 150%;
                right:15%;
                transform: translate(0, -50%);
                padding: 20px 30px;
                box-shadow: 2px 1px 10px #000;
                background-color: $list-bg;
                transition:.5s ease-in-out;
                border-radius: $border;


                @media(max-width: 500px){
                    
                }

                .list{
                    list-style: none;
                    text-align: left;
                    li{
                        position: relative;
                        margin-left: 1rem;
                        &:before{
                            content:"";
                            position: absolute;
                            margin-left: -2rem;
                            background: url("../img/heart.svg") no-repeat;
                            width: 25px;
                            height: 25px;
                            top: 50%;
                            transform: translate(0, -30%);
                            
                            
                        }
                    }
                }
            }

        }

        &:hover{
            img{
            transform: scale(1.1);
            filter: blur(5px);
            }

            .desc{
                top: 30%;
            }
        }
   
    }



}
